<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ModernAnfang.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        {% for fragebogen in frageboegen %}
                            <li><a href="{{ url_for('show_fragebogen', fragebogen_id=fragebogen[0]) }}">{{ fragebogen[1] }}</a></li>
                        {% else %}
                            <p>Keine Fragebögen verfügbar. Kann sein es gibt ein Problem mit der Datenbank.</p>
                        {% endfor %}

                    </ul>
                </li>

                <li><a href="/Nachhaltigkeit">Nachhaltigkeit</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Ergebnisse">Ergebnisse des Fragebogens</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <main>
        
    <h1>Was können wir dir empfehlen?</h1>


    <section>
        <h2>Empfehlung 1</h2>
        <br>
        <p>
        Anstatt Stoffe vom Ausland zu bestellen, kannst du auch auf regionale Anbieter zurückgreifen. Das spart nicht nur Transportkosten, sondern unterstützt auch die lokale Wirtschaft.
        </section>  

            <section>
                <h2>Empfehlung 2</h2>
                <br>
                <p>
                Überlege, ob du recycelte Materialien verwenden kannst. Diese sind oft günstiger und tragen zur Reduzierung von Abfall bei.
                </p>
            </section>

            <section>
                <h2>Empfehlung 3</h2>
                <br>
                <p>
                Versuche, in größeren Mengen zu bestellen, um von Mengenrabatten zu profitieren und die Anzahl der Lieferungen zu reduzieren.
                </p>
            </section>
        
        </main>

        <footer>Footer</footer>

    </div>

</body>

</html>