<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Empfehlungen.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">

                    </ul>
                </li>

                <li><a href="/Empfehlungen">Empfehlungen</a></li>
                <li><a href="/Nachhaltigkeit">Nachhaltigkeit</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Ergebnisse">Ergebnisse des Fragebogens</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <main>

            <h1>Fragebögen</h1>
            <br>

            <p>Fragebögen helfen uns, Ihre Bedürfnisse besser zu verstehen. 
            <br>
            <br>
                Bitte wählen Sie einen der folgenden Fragebögen aus:</p>
            <br><br>

            

        </main>

        <footer>Footer</footer>

    </div>

</body>

</html>