<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frageboegen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Fragebögen.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li>
                    <button onclick="window.location.href='/'">Home</button>
                </li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        {% for fragebogen in frageboegen %}
                            <li>
                                <a href="{{ url_for('show_fragebogen', fragebogen_id=fragebogen[0]) }}">
                                    {{ fragebogen[1] }}
                                </a>
                            </li>
                        {% else %}
                            <p>Keine Fragebögen verfügbar. Kann sein es gibt ein Problem mit der Datenbank.</p>
                        {% endfor %}
                    </ul>
                </li>

                <li><a href="/Empfehlungen">Empfehlungen</a></li>
                <li><a href="/Nachhaltigkeit">Nachhaltigkeit</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Ergebnisse">Ergebnisse des Fragebogens</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <main>

            <h1>Fragebögen</h1>
            <br>

            <p>Fragebögen helfen uns, Ihre Bedürfnisse besser zu verstehen. 
            <br>
            <br>
                Bitte wählen Sie einen der folgenden Fragebögen aus:</p>
            <br><br>

            <div class="fragenbogen-liste">
                {% for fragebogen in frageboegen %}
                    <ul>
                        <a href="{{ url_for('show_fragebogen', fragebogen_id=fragebogen[0]) }}">
                            {{ fragebogen[1] }}
                        </a>
                        <p>{{ fragebogen[2] }}</p>
                    </ul>
                    <br><br>
                {% else %}
                    <p>Keine Fragebögen verfügbar. Kann sein es gibt ein Problem mit der Datenbank.</p>
                {% endfor %}
            </div>
        </main>
        
        <footer>

        </footer>

    </div>

</body>

</html>