<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Anfang.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        <li><a href="/Frage1">Fragebogen 1</a></li>
                        <li><a href="/Frage2">Fragebogen 2</a></li>
                        <li><a href="/Frage3">Fragebogen 3</a></li>
                    </ul>
                </li>

                <li><a href="/Gesetze">Gesetze</a></li>
                <li><a href="/Zweitseite">Zweitseite</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <div class="left-aside">Linke Sidebar</div>

        <main>

            <h1>Fragebögen</h1>
            <br><br>

            <p>Fragebögen helfen uns, Ihre Bedürfnisse besser zu verstehen. 
            <br>
                Bitte wählen Sie einen der folgenden Fragebögen aus:</p>
            <br><br>

             <ul>
                <li><a href="/Frage1">Fragebogen 1</a></li>
                <p>Hier ist text zu Fragebogen 1</p>
            </ul>
            <br><br>

            <ul>
                <li><a href="/Frage1">Fragebogen 2</a></li>
                <p>Hier ist sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr sehr  viel text zu Fragebogen 2</p>
            </ul>
            <br><br>

            <ul>
                <li><a href="/Frage1"> Fragebogen 3 und Fragebogen 3 </a></li>
                <p>Hier ist text zu Fragebogen 3 und 
                <br><br><br><br>
                mehrere br dazwischen</p>
            </ul>

        </main>

    </div>

</body>

</html>