<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Anfang.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        <li><a href="/Frage1">Fragebogen 1</a></li>
                        <li><a href="/Frage2">Fragebogen 2</a></li>
                        <li><a href="/Frage3">Fragebogen 3</a></li>
                    </ul>
                </li>

                <li><a href="/Gesetze">Gesetze</a></li>
                <li><a href="/Zweitseite">Zweitseite</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <div class="left-aside">Linke Sidebar</div>

        <main>

            <h1>Profilseite</h1>
            <br><br>
            
            <h2>Willkommen, {{ username }}</h2>
            <br>

            <p>Hier sind Ihre Profilinformationen:</p>
            <br>

            <ul>
                <li>Benutzername: {{ username }}</li>
                <!-- Hier soll man weitere Profilinformationen hinzufügen -->
            </ul>
            <br>
            
            <button onclick="window.location.href='/Abmelden'">Abmelden</button>

        </main>

        <footer>Footer</footer>

    </div>

</body>

</html>
