<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Profil.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        {% for fragebogen in frageboegen %}
                            <li><a href="{{ url_for('show_fragebogen', fragebogen_id=fragebogen[0]) }}">{{ fragebogen[1] }}</a></li>
                        {% else %}
                            <p>Keine Fragebögen verfügbar. Kann sein es gibt ein Problem mit der Datenbank.</p>
                        {% endfor %}

                    </ul>
                </li>

                <li><a href="/Empfehlungen">Empfehlungen</a></li>
                <li><a href="/Nachhaltigkeit">Nachhaltigkeit</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Ergebnisse">Ergebnisse des Fragebogens</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>


        <main>

            <h1>Profilseite</h1>
            <br><br>
            
            <h2>Willkommen, {{ username }}</h2>
            <br>

            <p>Hier sind Ihre Profilinformationen:</p>
            <br>
            
                <label for="username">Benutzername:</label>
                <input type="text" id="username" name="username" value="{{ username }}" required>
                
            <br>
            <br>
            <br>
            <br>
            
            <button onclick="window.location.href='/Abmelden'">Abmelden</button>

        </main>

        <footer>Footer</footer>

    </div>

</body>

</html>