<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Anmelden.css') }}">
</head>

<body>
    <div class="container">

        <ul>
            <div class="left-section">
                <li><button onclick="window.location.href='/'">Home</button></li>
            </div>

            <div class="middle-section"></div>

            <div class="right-section">
                <li>
                    <a href="/Fragebögen">Fragebögen▾</a>
                    <ul class="dropdown">
                        {% for fragebogen in frageboegen %}
                            <li><a href="{{ url_for('show_fragebogen', fragebogen_id=fragebogen[0]) }}">{{ fragebogen[1] }}</a></li>
                        {% else %}
                            <p>Keine Fragebögen verfügbar. Kann sein es gibt ein Problem mit der Datenbank.</p>
                        {% endfor %}

                    </ul>
                </li>

                <li><a href="/Empfehlungen">Empfehlungen</a></li>
                <li><a href="/Nachhaltigkeit">Nachhaltigkeit</a></li>

                <li>
                    <a href="#">Menü▾</a>
                    <ul class="dropdown">
                        {% if Angemeldet %}
                            <li><a href="/Profil">Profil</a></li>
                            <li><a href="/Ergebnisse">Ergebnisse des Fragebogens</a></li>
                            <li><a href="/Abmelden">Abmelden</a></li>
                        {% else %}
                            <li><a href="/Anmelden">Anmelden</a></li>
                            <li><a href="/Registrieren">Registrieren</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>

        <main>
            <h1>Registrieren</h1>
            
            <form method="POST" class="login-form">
                <div class="input-group">
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="login-button">Einloggen</button>
            </form>

            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}

            <br>
            <p>Bereits ein Konto? <a href="/Anmelden">Hier einloggen</a></p>

        </main>

        <footer>Footer</footer>

    </div>
</body>

</html>