<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zweite Seite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Test.css') }}">
</head>
<body>
    <div class="container">
        <header>Header</header>
        <div class="banner">Banner</div>
        <div class="left-aside">Linke Sidebar</div>
        <main>Main-Inhalt</main>
        <div class="low-content">Niedriger Inhalt</div>
        <div class="right-aside">Rechte Sidebar</div>
        <footer>Footer</footer>
    </div>
</body>
</html>